/* .color-backgroud {
  background-color: #001529;
  animation-name: cb;
  animation-duration: 6s;
}

@keyframes cb {
  from {
    background-color: white;
  }
  to {
    background-color: #001529;
  }
} */